#div1{
    height: 300px;
    width: 600px;
    position: relative;
    background-color: #f0f7ff;
    align-content: center;
   margin: auto;
    padding: 10px;
}
#div2{
    margin: auto;
    padding: 10px;
    height: 300px;
    width: 600px;
    position: relative;
    background-color: #00ff88;

}